<div class="container">
<h3>iPhone Reviews</h3>

<p>Author: <%= @iphone.author %> </p>
<p>Product Rating: <%= @iphone.rating %> </p>
<p>Review: <%= @iphone.review %> </p>
<p>Date: <%= @iphone.date %> </p>

</div>