<div class="container">
	<h1 class="jumbotron-heading">Contact Us</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<p> <b>Email</b>
			Please email us at epr@epr.co.uk for any enquiries and complaints. We will aim to respond within 24 hours.</p>
		</div>
		<div class="col">
			<p> <b>Phone</b>
			01142 8745963 </p>
		</div>
		<div class="col">
			<p> <b>Twitter</b>
			@electronicproductreview </p>
		</div>
		<div class="col">
			<p> <b>Instagram</b>
			@eprinsta </p>
		</div>
	</div>
</div>