<div class="container">
	<h1 class="jumbotron-heading">Welcome to Electronic Product Review!</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<p> </p>
		</div>
		<div class="col">
			<p> </p>
		</div>
		<div class="col">
			<p> </p>
		</div>
		<div class="col">
			<p> </p>
		</div>
	</div>
</div>