<div class="container">
<h3>iPad Reviews</h3>

<p>Author: <%= @ipad.author %> </p>
<p>Product Rating: <%= @ipad.rating %> </p>
<p>Review: <%= @ipad.review %> </p>
<p>Date: <%= @ipad.date %> </p>

</div>