<div class="container">
<h3>Apple Watch Reviews</h3>

<p>Author: <%= @iwatch.author %> </p>
<p>Product Rating: <%= @iwatch.rating %> </p>
<p>Review: <%= @iwatch.review %> </p>
<p>Date: <%= @iwatch.date %> </p>

</div>